.banner-section{
    background-color: azure;
    height: 18vh;
    padding-top: 18px;
    padding-bottom: 18px;
}

.banner-image{
    height: 10vh;
}

.nav-container{
    background-color: antiquewhite;
    height: 10vh;
    padding: 20px;
    text-align: center;
}
.nav-items{
    text-decoration: none;
    margin-right: 10px;
    color: black;
    font-size: 23px;
    
}

.carousel-section{
    height: 450px;
    width:  1000px;
}

.carousel-image{
    height: 400px;
    width: 950px;
}

